<div class="card-container">
  <mat-card class="card">
    <!-- <mat-card-header>
      <mat-card-title>Card Title</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-content>
      <p>This is 1st Card</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-group">
        <button mat-stroked-button color="primary"><i class="fa fa-paper-plane"></i></button>
        <button mat-stroked-button color="accent"><i class="fa fa-eye"></i></button>
        <button mat-stroked-button color="warn"><i class="fa fa-trash"></i></button>
      </div>
    </mat-card-actions>
    
  </mat-card>
  <mat-card class="card">
    <!-- <mat-card-header>
      <mat-card-title>Card Title</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-content>
      <p>This is 2nd Card</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-group">
        <button mat-stroked-button color="primary"><i class="fa fa-paper-plane"></i></button>
        <button mat-stroked-button color="accent"><i class="fa fa-eye"></i></button>
        <button mat-stroked-button color="warn"><i class="fa fa-trash"></i></button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <p>This is 3rd Card</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-group">
        <button mat-stroked-button color="primary"></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
